.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    color: white;
}

.section1 h1{
    font-size: 85px;
    font-weight: bolder;
}
.section1 h2{
    font-size: 40px;
}
.section1 div{
    display: flex;
    gap: 10px;
   
}
.section1 button{
    transition: 0.5s;
}

.section1 div button:hover{
    background-color: rgb(9, 184, 184);
    transform: scale(0.9);
    color: white;
    
}

@media screen and (max-width:1035px) {
    .section1 h1{
        text-align: center;
    }
    .section1 h2{
        text-align: center;
    }
}


@media screen and (max-width:809px) {
    .section1{
        gap: 10px;
    }
    .section1 h1{
       font-size: 60px;
    }
    .section1 h2{
        font-size: 30px;
        text-align: center;
    }
    .section1 div{
        margin-top: 40px;
    }
}