.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    color: white;
}

.section1 h1{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}
.section1 h2{
    font-size: 40px;
}
.section1 div{
    display: flex;
    gap: 10px;
   
}
.section1 button{
    transition: 0.5s;
}

.section1 div button:hover{
    background-color: rgb(9, 184, 184);
    transform: scale(0.9);
    color: white;
    
}

.search-parent{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-top: -500px;
    width: 100%;
    justify-content: center;
}
.search-child{
    width: 70%;
    height: 500px;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
}


.search-heading {
  display: flex;
  align-items: center;
  justify-content: center; /* centers the entire input+button block horizontally if inside a wider container */
  gap: 10px;
  margin-top: 10px;
  margin-top: -30px;
}

.search-heading input {
  width: 350px; /* set desired fixed width */
  padding: 5px;
  font-size: 1rem;
  outline: none;
}

.close-btn {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(9, 184, 184);
  cursor: pointer;
  float:right;
}
.search-footers{
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
}
.search-footers div img{
    width: 50px;
    height: 50px;
}
.search-footers ul{
    list-style: none;
}
.search-footers h6{
    width: 100%;
    border-bottom: 1px solid darkblue;
}


@media screen and (max-width:1035px) {
    .section1 h1{
        text-align: center;
    }
    .section1 h2{
        text-align: center;
    }
}


@media screen and (max-width:809px) {
    .section1{
        gap: 10px;
    }
    .section1 h1{
       font-size: 60px;
    }
    .section1 h2{
        font-size: 30px;
        text-align: center;
    }
    .section1 div{
        margin-top: 40px;
    }
}


@media screen and (max-width:693px) {
   .search-footers div{
    margin-top: 10px;
   }
   .search-child{
    height: auto;
    margin-top: 60px;
    width: 90%;
   }
   .search-heading input{
    margin-top: 40px;
   }
}