 .section5-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section5-container h1{
    text-align: left;
    font-weight: 300;
    font-size: 76px;
}

.section-careers-parent{
    display: flex;
    /* gap: 20px; */
   flex-direction: column;
}

.left-careers{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.left-careers div{
  background: linear-gradient(rgb(8, 35, 37), rgb(3, 49, 53));
  padding: 4px;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  width: 90%;
  height: 150px;
  /* border-radius: 10px; */
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.left-careers h5{
    margin-top: 50px;
    font-size: 55px;
   
}
.left-careers p{
    width: 70%;
}

.left-careers button{
     width: 250px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
 background-color: rgb(4, 125, 125);
 color: white;
 border: none;
 transition: 0.9s;
}

.left-careers button:hover{
   background-color: white;
   color: white;
    background-color: rgb(9, 67, 67);
   transform: scale(0.9);
}

.left-careers img{
    width: 550px;
    height: 550px;
}

.right-careers{
    width: 50%;
    height: 600px;
    margin-bottom: 50px;
    margin-top: -380px;
}





@media screen and (max-width:1000px) {
   .left-careers{
    flex-direction: column;
   }
   .left-careers div{
    width: 100%;
   }
   .left-careers img{
    width: 100%;
    height: 700px;
    border-radius: 0px;
   }
   .right-careers{
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    margin-top: 0px;
}

}


@media screen and (max-width:495px) {
    .left-careers img{
        height:500px;

    }
    .left-careers div{
        /* border-radius: 0px; */
        font-size: 20px;
        height: 100px;
    }
    .right-careers{
        margin-top: 70px;
    }
}